<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Nosotros</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_blog.css') }}">
    <link rel="icon" href="http://127.0.0.1:1000/static/IMG/VR1.png" type="image/x-icon">
</head>
<body>

    <!--Header - menu-->

    <header>
        <div class="container">
            <img src="http://127.0.0.1:1000/static/IMG/VR1.png" alt="" width="70px">
            <p class="logo">Foraneos</p>
            <nav>
                <a href="/">Regresar</a>
                <a href="/registro">Registrarse</a>
            </nav>
        </div>

    </header>

    <!--Portada-->

    <div class="container-all" id="move-content">

    
    <div class="container-cover">
        <div class="container-info-cover">
            <h1>¿Quiénes somos?</h1>
            <p>A través de este apartado, queremos mostrarte un poco de nosotros.</p>
        </div>
    </div>

    <div class="container-content">
        <article>

            <p>La idea surgio al momento de compartir experiencias personales, al escuchar a uno de los integrantes del equipo hablar de cuando se mudo a Juárez y lo complicado que es a veces encontrar lugares en los que puedas quedarte a vivir si no tienes conocidos en la ciudad, incluso también la poca información que se encuentra a disposicion en las redes, porque muchas veces no viene especificamente y un turista o una persona que quiere vivir en Juarez sin haber estado antes a veces se le hace complicado encontrar ese tipo de información, opinamos que era una buena idea hacer una página sobre venta y renta de casas solo en la localidad, porque así se sabe con mucha más precision en donde se ubica, que rodea el lugar, por eso mismo también quisimos hacer un apartado de lugares que se puedan visitar, sobre el transporte y zonas con más oportunidades de trabajo.</p>
                
            <p>Referente a los apartados extras, pensamos en agregarlos ya que sabemos que Ciudad Juárez es un lugar con mucho trabajo, muchas personas de otros estados vienen por lo mismo, hay muchas más oportunidades de trabajo que en algunos lugares de la repubica mexicana, así que de esta manera, si buscan un lugar cerca de algún trabajo, pues aquí podrán enocntrarlo, más que nada con conocimiento, teniendo esto en cuenta, pasamos con el ultímo apartado extra, que es sobre la cultura, hay muchos lugares que vistandolos al menos por primera vez se llevan tu atención y es importante el entrenimiento al aire libre, si hay una persona aventurera, que le gusta salir, conocer, despejarse, podra conseguir un hogar cerca de algunos lugares turisticos en la ciudad.</p>
             
            <p>Queremos que nuestra plataforma sea una herramienta tanto para los vendedores y arrendedores, como para el cliente, incluso si no compra o renta un inmueble, podrá conocer un poco más de Ciudad Juárez, nuestro objetivo es ser esa herramienta que impulse y ayude.</p>

            <img src="http://127.0.0.1:1000/static/IMG/HOLA.jpg" alt="">

        </article>

    </div>

    <div class="container-footer">	

        <footer>
            <div class="logo-footer">
                <img src="" alt="">
            </div>

            <div class="redes-footer">
                <a href="https://www.facebook.com/profile.php?id=61550544126932"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="https://www.instagram.com/v_rrrr31/?fbclid=IwAR3ke6yh-4dVPWMezhMo4cFFPYhfe1Pjx8FdnkbSORdfoaht0fPt5RbntfY"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>

            <hr>
            <h4>© 2023 Foraneos - Todos los Derechos Reservados</h4>

        </footer>

    </div>

</div>

</body>
</html>