<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Guia</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos_blog.css') }}">
    <link rel="icon" href="http://127.0.0.1:1000/static/IMG/VR1.png" type="image/x-icon">

</head>
<body>

    <!--Header - menu-->

    <header>
        <div class="container">
            <img src="http://127.0.0.1:1000/static/IMG/VR1.png" alt="" width="70px">
            <p class="logo">Foraneos</p>
            <nav>
                <a href="/">Regresar</a>
                <a href="/registro">Registrarse</a>
            </nav>
        </div>

    </header>

    <!--Portada-->

    <div class="container-all" id="move-content">

    
    <div class="container-cover">
        <div class="container-info-cover">
            <h1>¡Bienvenido/a! Es un placer para nosotros que estes aqui.</h1>
            <p>A través de este apartado, queremos mostrarte la funcionalidad de nuestra página web, para que puedas sacarle el mayor provecho y tengas una experiencia inmejorable.</p>
        </div>
    </div>

    <div class="container-content">
        <article>

            <p>En la página podrás encontrar algunas pestañas que te serán de ayuda para lo que sea que estes buscando. </p>
                
            <p>Registrarse: ¿Eres vendedor o broker inmobiliario? Esta pestaña es para que te registres o afilies a la plataforma.</p>
             
            <p>Inicio de sesión: Esta pestaña esta diseñada para brokers y vendedores inmobiliarios, que podrán subir su inventario inmobiliario y ofertarlo al público, una vez que estes registrado podrás iniciar sesión en nuestra página paracomenzar a subir tu contenido.</p>
            
            <p>Inicio: Es la portada principal, donde podrás encontrar la variedad de inventarios proporcionados por los vendedores, si eres vendedor, podrás ver las casas que has subido y tendrás un botón llamado "Agregar casa" para seguir subiendo contenido para los clientes.</p>
               
            <p>Cultura: Esta sección esta diseñada para que el comprador tenga la oportunidad de conocer el ambiente cultural que rodea el inmueble en el que esta interesado, brindando una perspectiva única al usuario.</p>
              
            <p>Maquilas: ¿Te brindaron una oportunidad de trabajo, y buscas casa nueva? Esta pestaña te dirá que opciones estan disponibles cerca de las industrias maquiladoras, asi que podrás tener un panorama amplio según la empresa a la que busques acercarte o la zona de la ciudad que te parezca mas prometedora.</p>
                
            <p>Si eres cliente, es importante mencionarte que no necesitas registrarte para llevar a cabo tu compra o renta de un inmueble, ya que la información del vendedor o arrendador estará disponible para que te comuniques directamente con él, fuera de nuestra plataforma, ya que nosotros no llevamos a cabo ningun tramite legal, solo damos las herramientas necesarias para que el vendedor haga publicidad de su casa y un cliente pueda contactarlo.</p>
                
            <p>Sin más, esperamos que tu experiencia al navegar por nuestra plataforma sea digna y plena, a conveniencia de todos, agradecemos tu visita, cualquier duda que surga estarán nuestras redes sociales para que se pongan en contacto con nosotros, con gusto responderemos.</p>
           
            <p>Cada uno de nosotros colaboro muy arduamente y se conpartieron ideas tanto de nuestra propuesta como alguna problematica en la ciudad</p>

            <img src="http://127.0.0.1:1000/static/IMG/GUIA1.png" alt="">

        </article>

    </div>

    <div class="container-footer">	

        <footer>
            <div class="logo-footer">
                <img src="" alt="">
            </div>

            <div class="redes-footer">
                <a href="https://www.facebook.com/profile.php?id=61550544126932"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="https://www.instagram.com/v_rrrr31/?fbclid=IwAR3ke6yh-4dVPWMezhMo4cFFPYhfe1Pjx8FdnkbSORdfoaht0fPt5RbntfY"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>

            <hr>
            <h4>© 2023 Foraneos - Todos los Derechos Reservados</h4>

        </footer>

    </div>

</div>

</body>
</html>
