<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Lugares turísticos</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cultura.css') }}">
    <link rel="icon" href="http://127.0.0.1:1000/static/IMG/VR1.png" type="image/x-icon">
</head>

<body>

    <!--Header - menu-->
    <header>
        <div class="container">
            <img src="http://127.0.0.1:1000/static/IMG/VR1.png" alt="" width="70px">
            <p class="logo">Foraneos</p>
            <nav>
                <a href="/">Regresar</a>
                <a href="/registro">Registrarse</a>
            </nav>
        </div>
    </header>

    <!--Portada-->
    <div class="container-all" id="move-content">
    <div class="container-cover">
        <div class="container-info-cover">
            <h1>¡Lugares que debes visitar!</h1>
            <p>Ciudad Juárez tiene muchos lugares atractivos e interesantes, lo cual puedes ir a descansar o divertirte en los parques o si te gusta la historia, ten por seguro que te encantarán los museos.</p>
        </div>
    </div>

    <div class="container-content">
        <article>
            <h1>Monumento a la Mexicanidad</h1>
            <img src="http://127.0.0.1:1000/static/IMG/X.jpg" alt="" >
            <p>Se inauguró el 24 de mayo de 2013 y mide 64 metros de altura. Su creador Enrique Carbajal, mejor conocido como Sebastián, dice que el monumento es un símbolo del cruce de culturas indígenas y españolas que dieron lugar a la cultura mestiza. Uno de los puntos superiores está incompleto, lo cual hace referencia a los esfuerzos para mejorar los ideales de la ciudad y la nación. </p>
            <p>Alrededor del monumento se encuentra la Plaza de la Mexicanidad, que es una plaza que está abierta todos los días y la entrada es gratuita, tiene secciones pavimentadas y áreas verdes, en esa misma plaza hay un escenario donde se realizan conciertos de artistas locales e internacionales. Igualmente se instala cada año una feria muy grande, en la cual puedes divertirte con tu familia, amigos o pareja.
                <br><br>
                Ubicación: Plaza de la Mexicanidad, Chamizal, 32300 Cd Juárez, Chihuahua.
            </p>

            <h1>Catedral de Nuestra Señora de Guadalupe</h1>
            <img src="http://127.0.0.1:1000/static/IMG/CATEDRAL.jpg" alt="" >
            <p>Es el centro religioso principal de esta ciudad. Consagrada en el año de 1941 y concluida en el año de 1957. Está abierta todos los días y la entrada es gratuita.</p>
            <p>Tiene varias filas de bancas frente al altar, una pintura de la Virgen de Guadalupe y un grande crucifijo en el altar, en la pared de la izquierda hay vidrios coloridos que representan escenas religiosas, a lo largo de la pared opuesta hay un estante con varias estatuas de personajes bíblicos y santos. También ahí mismo se encuentra la Misión de Nuestra Señora de Guadalupe, la cual fue fundada por los monjes franciscanos en 1659.
                <br><br>
                Ubicación: Av. Vicente Guerrero 101, Centro, 32000 Cd Juárez, Chihuahua.
            </p>

            <h1>Parque Chamizal</h1>
            <img src="http://127.0.0.1:1000/static/IMG/CHAMIZAL1.jpg" alt="" >
            <p>Lugar de esparcimiento familiar. Tiene una extensión de 124 hectáreas, ha sido el único que Estados Unidos ha cedido a México y está en la orilla del río Bravo, que marca la frontera entre estos dos países. Después de la resolución de una larga disputa diplomática en 1964, México conservó la mayor parte de la tierra. </p>
            <p>Tiene grandes áreas verdes, en las cuales se pueden hacer actividades como: picnic, jugar futbol o cualquier actividad deportiva, relajarse en hamacas (estas las venden ahí mismo o puedes llevarla por tu cuenta), dar paseos a caballo (a precios económicos). También hay pequeñas pistas para que puedas caminar, trotar, correr, andar en bicicleta o rentar carritos bicicleteros desde dos hasta cinco personas, una variedad de puestos de comidas, bebidas o juguetes. Ten por seguro que ahí no te vas aburrir o viéndolo por otro lado, también es un lugar el cual puedes descansar al aire libre y relajarte un rato.
                <br><br>
                Ubicación: Ing. David Herrera, C. Malecón, Chamizal, Cd Juárez, Chihuahua.
            </p>

            <h1>Parque Central Hermanos Escobar</h1>
            <img src="http://127.0.0.1:1000/static/IMG/CENTRAL.jpg" alt="" >
            <p>También un lugar de esparcimiento familiar, pero a diferencia del Parque Chamizal, este cuenta con una variedad de especies de flora: arboles, pinos, sauces, palmeras, entre muchos otras, y fauna: jirafa, avestruz, muchos patos, burros, chivas, borregos, tortugas, pavo reales, gallinas, conejos, entre otras aves que se encuentran, un jardín botánico: matorrales, nopales, sábilas, yuca, agaves y un lago artificial el cual puedes dar un paseo en lancha. Igual cuenta con carritos bicicleteros, variedad de puestos de comida. </p>
            <p>Su nombre se debe a sus fundadores, los hermanos Numa y Rómulo Escobar quienes inauguraron la Escuela Superior de Agricultura “Hermanos Escobar” en 1906 en los actuales terrenos del parque. Además, cada año, antes de que comience el ciclo escolar, se lleva a cabo una “feria de útiles”, donde varias tiendas de papelería, calzado, uniformes, libros u ópticas van para poder ofrecer sus artículos. Puedes ir a visitarlo en un horario de 07:00 - 21:00 hrs. Está abierto todos los días y es gratuito.
                <br><br>
                Ubicación: Av. Tecnológico 4165, 32659 Cd Juárez, Chihuahua.
            </p>

            <h1>La Rodadora</h1>
            <img src="http://127.0.0.1:1000/static/IMG/RODADORA1.jpg" alt="" >
            <p>Cuenta con 120 exposiciones permanentes, una sala de exposiciones temporales, una biblioteca equipada con sistemas educativos que combinarán lo tradicional con lo moderno, una sala de cine 3D, un patio central y un teatro al aire libre.  </p>
            <p>Los dos temas centrales que se ven en el museo, son el entorno natural y entorno social, el primero destacando el origen de la vida y el desarrollo de esta a través de los años enfocándose principalmente en la región desierto. En cuanto al entorno social, destaca la historia de la región, el desarrollo de la sociedad y sus diversas etapas históricas, incluido el desarrollo tecnológico que se ha dado en la ciudad y su influencia en el resto del país y el mundo. Tiene ciertos horarios: jueves y viernes de 9:00 am a 5:00 pm y sábado y domingo de 11:00 am a 7:00 pm. Además de tener costos, el acceso individual cuesta $129 y el parque familiar de 4 personas está a $470 pesos.
                <br><br>
                Ubicación: Blvd. Teófilo Borunda 6632, Jarudo del Norte, 32652, Ciudad Juárez, Chihuahua.
            </p>


            <h1>Dunas de Samalayuca</h1>
            <img src="http://127.0.0.1:1000/static/IMG/DUNAS.jpg" alt="" >
            <p>Es un área natural protegida y son un tesoro natural impresionante, donde las formaciones de arena creadas por el viento crean un paisaje único, atrayendo a personas interesadas en la belleza natural y las actividades recreativas al aire libre.</p>
            <p>Varían en altura, y algunas pueden alcanzar alturas considerables, ofreciendo a los visitantes la oportunidad de experimentar vistas panorámicas de los alrededores. Además de su atractivo visual, las dunas de Samalayuca también son un lugar popular para actividades recreativas como dar un paseo en cuatrimoto o jeep, el sandboard (ahí mismo te pueden rentar las tablas) y el senderismo. El sandboard es similar al snowboard, pero se practica en la arena de las dunas en lugar de en la nieve. Tiene un costo de $100 pesos por persona para entrar.
                <br><br>
                Ubicación: al Sur de la Ciudad Juárez (a unos 50 kilómetros de esta).
            </p>

            <h1>Casa de Adobe</h1>
            <img src="http://127.0.0.1:1000/static/IMG/ADOBE.jpg" alt="" >
            <p>Es un ejemplo arquitectónico que resalta las técnicas tradicionales de construcción utilizando adobe como material principal. En abril y mayo de 1911, esta casa se conocía como el Palacio Nacional Provisional de la Revolución Mexicana. El expresidente Francisco I. Madero se reunió aquí con sus asesores para planear la revolución. Madero había destituido al famoso Porifio Díaz como presidente y se había comprometido a traer el cambio social y la democracia a México.</p>
            <p>En las habitaciones de la Casa de Adobe se pueden ver los ejemplares de muebles y vajillas de principios del siglo XX. Además de fotografías de diferentes eventos y personajes importantes de la Revolución Mexicana y un cartel que ofrece una recompensa por la captura de Villa. Puedes ir cualquier día de la semana (excepto los lunes), en un horario de 10:00a.m – 4:00p.m.
                <br><br>
                Ubicación: Canutillo 2603, Ladillera de Juárez, 32108, Ciudad Juárez, Chihuahua.
            </p>

            <h1>Museo de Arte de Ciudad Juárez</h1>
            <img src="http://127.0.0.1:1000/static/IMG/ARTE1.jpg" alt="" >
            <p>Se construyó en 1963 y se abrió al público en 1964 en el periodo presidencial de Adolfo López Mateos. Es un espacio cultural significativo que enriquece la vida de la comunidad y promueve la apreciación del arte en sus diversas formas. Ubicado en un lugar emblemático de la ciudad, el museo se erige como un centro de exposiciones, educación y difusión artística.</p>
            <P>Este museo se dedica a albergar y exhibir una amplia gama de obras de arte, que van desde pinturas y esculturas hasta instalaciones y arte contemporáneo. Sus colecciones pueden abarcar piezas de artistas locales, nacionales e internacionales, ofreciendo una visión diversa y enriquecedora del panorama artístico.</P>
            <p>Además de sus exposiciones, el Museo de Arte suele ofrecer programas educativos y eventos culturales que fomentan la interacción de la comunidad con el arte y la cultura. Talleres, conferencias, visitas guiadas y actividades interactivas están destinados a enriquecer la experiencia de los visitantes y brindar oportunidades de aprendizaje a personas de todas las edades. Tiene un horario de visita de martes a sábado: 10:00 - 18:00 hrs. Y los domingos de 12:00 - 17:00 hrs. 
                <br><br>
                Ubicación: Av. Abraham Lincoln y Coyoacán s/n, Zona PRONAF, 32310 Ciudad Juárez, Chihuahua.
            </p>

            <h1>Museo de Arqueología e Historia de El Chamizal</h1>
            <img src="http://127.0.0.1:1000/static/IMG/ARQUEOLOGIA.jpg" alt="" >
            <p>Promueve y difunde las culturas prehispánicas y las expresiones artísticas de la región, el país y el extranjero. El concepto museográfico original estuvo a cargo del maestro Roberto Cuétara, con la colaboración del poeta Carlos Pellicer, quien inauguró el museo en 1976. En el 2018 se amplía el espacio y se realiza una revisión y expansión museográfica.</p>
            <p>Se cuenta con 6 salas permanentes donde se abordan los temas del entorno natural de la región, así como de las Culturas del Norte de México, en especial Paquimé. Se cuenta con una sala dedicada a exponer 45 réplicas de piezas emblemáticas de la arqueología mexicana en la Sala del México Prehispánico. Al igual que cuenta con 3.5 hectáreas de hermosos jardines, donde se ubica un lago artificial, 32 réplicas arqueológicas del centro/sur del país y una reconstrucción de la Casa Grande de Paquimé. Tiene un horario de visita de martes a sábado: 9:00 - 17:00 hrs. Y los domingos de 11:00 - 17:00 hrs. La entrada es gratis.
                <br><br>
                Ubicación: Av. Carlos Pellicer, Parque público El Chamizal 1 , C.P. 32030, Juárez, Chihuahua.
            </p>

            <h1>Museo de la Revolución de la Frontera</h1>
            <img src="http://127.0.0.1:1000/static/IMG/MUREF.jpg" alt="" >
            <p>También conocido como MUREF y es considerado el segundo monumento histórico mas importante de la localidad, da relevancia histórica del edificio se debe a que en 1909 acogió una reunión entre Porfirio Díaz y William Taft, presidente del vecino país del norte; primera entrevista entre mandatarios de los dos países. Albergó después el cuartel general de Madero en 1911, el de Villa en 1913 y el de Carranza en 1914. Reúne fotografías de la rebelión maderista tomadas por reporteros internacionales. </p>
            <p>Es un espacio cultural dedicado a explorar y preservar la historia de la Revolución Mexicana y su impacto en la región fronteriza. Este museo ofrece una visión detallada de los acontecimientos históricos, los protagonistas y las circunstancias que rodearon uno de los movimientos sociopolíticos más significativos en la historia de México. Cuenta con un horario de martes a domingo de 9:00 a 17:00 hrs (lunes cerrado) y con entrada libre.
                <br><br>
                Ubicación: Av. 16 de Septiembre y Av. Juárez s/n, Col. Centro. C.P. 32000., Cd. Juárez, Chihuahua.
            </p>

        </article>

    </div>

    <div class="container-footer">	
        <footer>
            <div class="logo-footer">
                <img src="" alt="">
            </div>
            <div class="redes-footer">
                <a href="https://www.facebook.com/profile.php?id=61550544126932"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="https://www.instagram.com/v_rrrr31/?fbclid=IwAR3ke6yh-4dVPWMezhMo4cFFPYhfe1Pjx8FdnkbSORdfoaht0fPt5RbntfY"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>
            <hr>
            <h4>© 2023 Foraneos - Todos los Derechos Reservados</h4>
        </footer>
    </div>
</div>

</body>
</html>