<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Maquilas</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="icon" href="http://127.0.0.1:1000/static/IMG/VR1.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maquilas.css') }}">

</head>

<body>

    <!--Header - menu-->
    <header>
        <div class="container">
            <img src="http://127.0.0.1:1000/static/IMG/VR1.png" alt="" width="70px">
            <p class="logo">Foraneos</p>
            <nav>
                <a href="/">Regresar</a>
                <a href="/registro">Registrarse</a>
            </nav>
        </div>
    </header>

    <!--Portada-->
    <div class="container-all" id="move-content">
    <div class="container-cover">
        <div class="container-info-cover">
            <h1>Maquilas</h1>
            <p>Ciudad Juárez es reconocida por su gran oferta de empleo, debido al establecimiento de muchas maquilas dentro del área y a que estamos ubicados en la frontera con Estados Unidos. A continuación se mostrarán algunas de las tantas que hay.</p>
        </div>
    </div>

    <div class="container-content">
        <article>

            <h1>ADIENT</h1>
            <img src="http://127.0.0.1:1000/static/IMG/ADIENT.jpg" alt="" >
            <p>Sitio web:  <a href="http://www.adient.com/">http://www.adient.com/</a></p>
            <p>Ubicaciones: 
                <br>
                Blvd. Oscar Flores San 4415A, El Vergel, Cd Juárez, Chihuahua.
                <br>
                Tel: 01800012345
                <br><br>
                Puerto de Palos 1080, Patria, 32580 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566375800
                <br><br>
                Blvd. Manuel Talamas Camandari 8351, 32695 Cd Juárez, Chihuahua.
                <br>
                Tel: no hay
                <br><br>
                Blvd. Independencia 1451, Paseos de Zaragoza, 32590 Cd Juárez, Chihuahua.
                <br>
                Tel: no hay
            </p>

            <h1>BOSCH</h1>
            <img src="http://127.0.0.1:1000/static/IMG/BOSCH.jpg" alt="" >
            <p>Sitio web:  <a href="https://www.bosch.com.mx/">https://www.bosch.com.mx/</a></p>
            <p>Ubicaciones: 
                <br>
                Av. Robert Bosch #1150, Parque Ind. Rio Bravo.  C.P. 32557 Ciudad Juárez, Chihuahua.
                <br>
                Tel: 6566376600
                <br><br>
                Calle Hornos #5051, Parque Industrial Juárez, CP: 32630 Ciudad Juárez, Chihuahua.
                <br>
                Tel: no hay
                <br><br>
                Calle Magneto #2035, Parque industrial Fernández. CP 32630 Ciudad Juárez, Chihuahua.
                <br>
                Tel: 6566882300
            </p>

            <h1>BRP</h1>
            <img src="http://127.0.0.1:1000/static/IMG/BRP.jpg" alt=""> 
            <p>Sitio web:  <a href="http://www.brp.com/">http://www.brp.com/</a></p>
            <p>Ubicaciones: 
                <br>
                Av. Santiago Troncoso 1098, Fray Garcia de San Francisco, 32575 Cd Juárez, Chihuahua.
                <br>
                Tel: 6561466000
                <br><br>
                Blvd. Francisco Villarreal Torres, 11500 Cd Juárez, Chihuahua.
                <br>
                Tel: 6568162742
                <br><br>
                Industrial 2250, Bermúdez, 32470 Cd Juárez, Chihuahua.
                <br>
                Tel: 6561466000
            </p>

            <h1>EATON</h1>
            <img src="http://127.0.0.1:1000/static/IMG/EATON.jpg" alt="" >
            <p>Sitio web:  <a href="https://www.eaton.com/mx/es-mx/company.html">https://www.eaton.com/mx/es-mx/company.html</a></p>
            <p>Ubicaciones: 
                <br>
                Partido Doblado, 32424 Cd Juárez, Chihuahua.
                <br>
                Tel: 555587 0211
                <br><br>
                Blvd. Independencia, 32575 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566923656
                <br><br>
                Esquina con, Avenida Ramon Rayon, C. Tical 10051, 32575 Cd Juárez, Chihuahua.
                <br>
                Tel: no hay
            </p>

            <h1>FOXCONN</h1>
            <img src="http://127.0.0.1:1000/static/IMG/FOXCONN.jpg" alt="" >
            <p>Sitio web: no tiene.</p>
            <p>Ubicaciones: 
                <br>
                Blvd. Oscar Flores San 8951, Nuevo Hipódromo, 32675 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566499999
                <br><br>
                Blvd. Manuel Talamas Camandari 9535, Los Bravos, 32575 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566210400
                <br><br>
                Intermex SN, Intermex, 32575 Cd Juárez, Chihuahua.
                <br>
                Tel: no hay
            </p>

            <h1>HANSUH</h1>
            <img src="http://127.0.0.1:1000/static/IMG/HANSUH.jpg" alt="" >
            <p>Sitio web: no tiene.</p>
            <p>Ubicaciones: 
                <br>
                Henry Dunant 6340, Omega, 32410 Cd Juárez, Chihuahua.
                <br>
                Tel: 6562276500
                <br><br>
                Cam. Viejo a San Lorenzo 6881, México, 32410 Cd Juárez, Chihuahua.
                <br>
                Tel: 6562276512
            </p>

            <h1>NIDEC</h1>
            <img src="http://127.0.0.1:1000/static/IMG/NIDEC.jpg" alt="" >
            <p>Sitio web:  <a href="http://www.nidec.com/">http://www.nidec.com//</a></p>
            <p>Ubicaciones: 
                <br>
                Blvd. Zaragoza 1650, Henequén, 32573 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566295900
                <br><br>
                De La Industria, Bermúdez, 32470 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566293800
            </p>

            <h1>TPÍ</h1>
            <img src="http://127.0.0.1:1000/static/IMG/TPI.jpeg" alt="" >
            <p>Sitio web:  <a href="https://tpicomposites.com/">https://tpicomposites.com/</a></p>
            <p>Ubicaciones: 
                <br>
                Blvd. Independencia Edificio # 2750 Col. Lote Bravo, CP 32575 Cd. Juárez, Chihuahua.
                <br>
                Tel: no hay
                <br><br>
                Av. de las Torres #2145 Col. Torres del Sur CP 32575 Cd. Juárez, Chihuahua. 
                <br>
                Tel: 6562574300
                <br><br>
                Av. Libramiento Aeropuerto # 10073, Col. Lote Bravo II CP 32695, Cd. Juárez, Chihuahua.
                <br>
                Tel: 6562574300
            </p>

            <h1>VALEO</h1>
            <img src="http://127.0.0.1:1000/static/IMG/VALEO.jpg" alt="">
            <p>Sitio web:  <a href="http://www.valeo.com/">http://www.valeo.com/</a></p>
            <p>Ubicaciones: 
                <br>
                Parque Industrial, Intermex 1681, Intermex, 32575 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566496800
                <br><br>
                Pino Seco 460, Terrazas del Valle, 32599 Cd Juárez, Chihuahua.
                <br>
                Tel: 6562573200
            </p>

            <h1>YAZAKI</h1>
            <img src="http://127.0.0.1:1000/static/IMG/YAZAKI.png" alt="" >
            <p>Sitio web:  <a href="http://www.yazaki.com/">http://www.yazaki.com/</a></p>
            <p>Ubicaciones: 
                <br>
                El Porvenir - Ciudad Juarez, Cd Juárez, Chihuahua.
                <br>
                Tel: 6566300135
                <br><br>
                Av de las Torres 2439, Los Bravos, 32575 Cd Juárez, Chihuahua.
                <br>
                Tel: 6566290920
                <br><br>
                Ramón Rivera Lara 6214, Ramón Rivera Lara, 32605 Cd Juárez, Chihuahua.
                <br>
                Tel: 6141584800
                <br><br>
                Av. de la industria 4250, Parque Industrial Juarez, Cd Juárez, Chihuahua.
                <br>
                Tel: 6565322200
            </p>

        </article>

    </div>

    <div class="container-footer">	
        <footer>
            <div class="logo-footer">
                <img src="" alt="">
            </div>
            <div class="redes-footer">
                <a href="https://www.facebook.com/profile.php?id=61550544126932"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="https://www.instagram.com/v_rrrr31/?fbclid=IwAR3ke6yh-4dVPWMezhMo4cFFPYhfe1Pjx8FdnkbSORdfoaht0fPt5RbntfY"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>
            <hr>
            <h4>© 2023 Foraneos - Todos los Derechos Reservados</h4>
        </footer>
    </div>
</div>

</body>
</html>